body {
  font-size: 100%;
  background-color: #99a2e5;
}

img {
  margin-left: 35%;
  margin-right: auto;
}

.lich {
  height: 200px;
  width: 200px;
  display: flex;
  align-self: ;
  border: 1px solid white;
  padding: 10px;
}

.nome-cantora {
  margin-top: 50px;
  font-family: "Pushster", cursive;
  font-weight: 400PX;
  margin-bottom: 50px;
}
